.step_icon-margin {
  margin: 0 2rem 0 2rem;
}

button {
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  width: 10.5rem;
  border: 1px solid transparent;
  border-radius: 25px;
  height: 2.5rem;
}

a {
  text-decoration: none;
}

.cart {
  background: #FFFF;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  max-width: 330px;
  margin: 1rem 0 0.4rem 0;
  border-radius: 15px;
  border: 1px transparent solid;
  box-shadow: #d2d2d2 3px 3px 19px 7px;
}
@media screen and (min-width: 700px) {
  .cart {
    margin: 2rem;
    max-width: 450px;
    font-size: 2rem;
    font-weight: bold;
  }
}
.cart .cart_image {
  width: 100%;
}
.cart .cart_image .image_restaurant {
  width: inherit;
  object-fit: cover;
  height: 180px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.cart .cart_text {
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
}
.cart .cart_text .fa-heart {
  font-size: x-large;
  position: relative;
  right: 10px;
  top: 0;
}

.picture_container {
  object-fit: cover;
}

.container_food {
  z-index: 2;
  position: relative;
  bottom: 50px;
  background: #f6f6f6;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 1rem 0.5rem;
}
@media screen and (min-width: 700px) {
  .container_food {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .container_food h2 {
    width: 100%;
    padding-left: 2rem;
  }
  .container_food .title-page {
    width: 100%;
    font-size: 4.5rem;
    padding-left: 1rem;
    margin-left: auto;
    margin-bottom: 2rem;
  }
}

.title-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Shrikhand", serif;
}
.title-page h1 {
  font-size: x-large;
}
.title-page .fa-heart2 {
  font-size: x-large;
}
@media screen and (min-width: 700px) {
  .title-page {
    font-size: large;
  }
  .title-page h1 {
    margin: 0 0 0 20%;
  }
  .title-page .fa-heart2 {
    font-size: x-large;
    margin: 0 20% 0 0;
  }
}

.food {
  border: 5px white solid;
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 15px;
  margin: 2rem 0;
  box-shadow: #D2D2D2 4px 4px 15px 5px;
}
.food p {
  margin: 0.1rem 0;
}
@media screen and (max-width: 700px) {
  .food p {
    font-size: 1.1rem;
  }
}
.food .food_text-size-max {
  width: 100%;
  font-weight: bold;
}
@media screen and (min-width: 700px) {
  .food .food_text-size-max {
    font-size: 1.5rem;
    padding: 8%;
    background: #f6f6f6;
    border-radius: 15px;
    text-align: center;
  }
}
@media screen and (min-width: 700px) {
  .food {
    width: 25rem;
    height: 13rem;
    display: flex;
    align-items: end;
    justify-content: space-around;
  }
}

header {
  align-items: center;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  font-family: Shrikhand, Serif;
  text-align: center;
  padding: 1rem 0rem 1rem 0;
  width: 100%;
  box-shadow: #D2D2D2 0px 4px 0px 0px;
  z-index: 2;
}

.container_localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 700px) {
  .container_localisation {
    padding: 0 10%;
  }
}
@media screen and (min-width: 1000px) {
  .container_localisation {
    padding: 0 20%;
  }
}
@media screen and (min-width: 1200px) {
  .container_localisation {
    padding: 0 20%;
  }
}
.container_localisation p {
  margin-left: 1rem;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 0 2rem;
  background: #f6f6f6;
}
@media screen and (min-width: 700px) {
  .presentation {
    padding: 0 10%;
  }
}
@media screen and (min-width: 1000px) {
  .presentation {
    padding: 0 20%;
  }
}
@media screen and (min-width: 1200px) {
  .presentation {
    padding: 0 20%;
  }
}
@media screen and (min-width: 700px) {
  .presentation {
    padding-bottom: 2rem;
  }
}
.presentation h1 {
  text-align: center;
  width: 80%;
  margin-bottom: 0;
}
.presentation p {
  text-align: center;
  margin-top: 0.5rem;
}

.section_steps_container {
  width: 100%;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_step_title {
  width: 90%;
  max-width: 410px;
}

.steps_container {
  padding: 0;
  text-align: start;
  width: 90%;
  max-width: 400px;
}

.step {
  display: flex;
  align-items: center;
  border: 1px transparent solid;
  border-radius: 15px;
  background: #f6f6f6;
  height: 4rem;
  margin: 1rem 0 0 0;
}
.step i {
  width: 3rem;
  text-align: center;
}
.step .number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  font-size: x-small;
  /* text-align: center; */
  position: relative;
  border: #9356DC 1px solid;
  background-color: #9356DC;
  color: white;
  border-radius: 62%;
  right: 9px;
}

.background-image {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
}

.title-hight-page {
  margin: 1rem;
}

.fa-arrow-left {
  font-size: large;
  position: relative;
  bottom: 30px;
  right: 40px;
}

body {
  background-color: white;
  font-family: Roboto;
  margin: 0;
}

.container_carts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #f6f6f6;
  padding-bottom: 4rem;
}
@media screen and (min-width: 700px) {
  .container_carts {
    padding: 0 10%;
  }
}
@media screen and (min-width: 1000px) {
  .container_carts {
    padding: 0 20%;
  }
}
@media screen and (min-width: 1200px) {
  .container_carts {
    padding: 0 20%;
  }
}
.container_carts h2 {
  width: 100%;
  max-width: 330px;
  margin: 4rem 0 0;
}
@media screen and (min-width: 700px) {
  .container_carts h2 {
    max-width: 100%;
  }
}

.body_pages {
  background-color: #f6f6f6;
}

.button-position {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: flex-start;
}

h2 {
  font-weight: 100;
  text-decoration: underline #0000ff;
}

footer {
  background: #353535;
  color: white;
  width: 100%;
  padding: 1rem;
}
footer ul {
  padding-inline-start: 0;
  width: 100%;
}
footer p {
  margin: 0.5rem 0;
}
footer li {
  margin: 0.5rem 0;
}
@media screen and (min-width: 700px) {
  footer {
    display: flex;
    justify-content: center;
  }
  footer .container-footer {
    text-align: center;
    font-size: 1.5rem;
  }
}

.container-footer {
  width: 300px;
  margin-left: 0.4rem;
}
.container-footer li {
  list-style: none;
}
.container-footer .logo-txt {
  font-family: Shrikhand;
  font-size: x-large;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
