body {
  background-color: $color-background-primary;
  font-family: $font-family-txt;
  margin: 0;
}

.container_carts {
  @include padding-flex-mobile-desktop;
  display: flex;
  flex-direction: column;
  align-items: center;
 
  background: $color-background-secondary;
  padding-bottom: 4rem;
  @media screen and(min-width:650px) {
    flex-direction: row;
      flex-wrap: wrap; 
     justify-content: center;
  }
  h2 {
    width: 95%;
    margin: 3rem 0 2% 4%;

    @media screen and (min-width: 700px) {
      
     
    }
  }
}
//specific body (content pages)

.body_pages {
  background-color: $color-background-secondary;
}
.button-position {
  @include box-position($axey: flex-start);
  margin-top: -33px;
}
