header{
  align-items: center;
  background: $color-background-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo{
  font-family: Shrikhand ;
  text-align: center;
  padding: 1rem 0rem 1rem 0;
  width: 100%;
  box-shadow: #D2D2D2 0px 4px 0px 0px;
  z-index: 2;


}
.container_localisation{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-localisation-background;
  text-align: center;
  width: 100%;
    p{
      margin-left: 1rem;
    }
;
}
.presentation{
  display: flex;
  flex-direction: column;
  align-items: center;
   width: 100%;


  padding: 2rem 0 2rem;
  background: $color-background-secondary;
    h1{
      text-align: center;
      width: 80%;
      margin-bottom: 0
      }

    p { text-align: center;
      margin-top: 0.5rem;
      }
}
.section_steps_container{

    width: 100%;
   margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.container_step_title{
  width: 90%;
  max-width:410px ;
}
.steps_container{
  padding:0;
  text-align: start;
  width: 90%;
  max-width: 400px;


}
.step{
  display: flex;
  align-items: center;
  border: 1px transparent solid;
  border-radius: 15px;
  background: $color-background-secondary;

  height: 4rem;
  margin: 1rem 0 0 0;
   i{
      @include steps_icon-width;
     }
   .number{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 1rem;
     height: 1rem;
     font-size: x-small;
     /* text-align: center; */
     position: relative;
     border: $color-primary 1px solid;
     background-color: $color-primary;
     color: white;
     border-radius: 62%;
     right: 9px;
   }

}


