* {
  box-sizing: border-box;
  width: auto;
}

a {
  text-decoration: none;
  outline: none;
  color: black;
}

.step_icon-margin {
  margin: 0 2rem 0 2rem;
}

.loader {
  width: 0;
  height: 0;
  opacity: 0;
  position: fixed;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.637);
  animation: emergence 3s 1;
}
.loader .loader_item {
  display: none;
  opacity: 0;
  z-index: 10000;
  width: auto;
  max-width: 100px;
  height: 100px;
  max-height: 100px;
  font-size: 3rem;
  position: absolute;
  font-family: Shrikhand;
  top: -200px;
  left: -200px;
  border: transparent 24px solid;
  border-left-color: #9356DC;
  border-right-color: #FF79DA;
  border-top-color: #99E2D0;
  border-bottom-color: #99E2D0;
  background: linear-gradient(#9356DC, white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spinermobile 3s 1 ease-in-out;
}
@media screen and (min-width: 700px) {
  .loader .loader_item {
    animation: spinerdesktop 3s 1 ease-in-out;
    font-size: 8rem;
    max-width: 250px;
    max-height: 250px;
  }
}

@keyframes emergence {
  from {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  to {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}
@keyframes spinerdesktop {
  0% {
    display: block;
    opacity: 1;
    transform: rotateY(180deg);
    left: 45%;
    top: 50%;
  }
  20% {
    height: 250px;
    width: 250px;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 50%;
    left: 45%;
  }
}
@keyframes spinermobile {
  0% {
    position: fixed;
    display: block;
    opacity: 1;
    left: 50%;
    top: 50%;
    height: 0;
    width: 0;
  }
  20% {
    bottom: 0;
    height: 20px;
    width: 20px;
  }
  50% {
    opacity: 1;
    top: 50%;
    transform: rotateY(360deg);
  }
  100% {
    opacity: 0;
    left: 50%;
    top: 50%;
    position: fixed;
  }
}
@keyframes aparition-menu {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes select-logo-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
.step:hover {
  background-color: #f5eeff;
  transition-duration: 500ms;
}
.step:hover .step_icon {
  color: #9356DC;
  transition-duration: 500ms;
}

.fa-heart:hover {
  opacity: 0;
  transition: all 0.5s;
}

.anim-delai1 {
  animation: aparition-menu 2000ms cubic-bezier(1, 0.07, 0.2, 0.96);
}

.anim-delai2 {
  animation: aparition-menu 2500ms cubic-bezier(1, 0.07, 0.2, 0.96);
}

.anim-delai3 {
  animation: aparition-menu 3000ms cubic-bezier(1, 0.07, 0.2, 0.96);
}

.anim-delai4 {
  animation: aparition-menu 3500ms cubic-bezier(1, 0.07, 0.2, 0.96);
}

.food .select {
  display: flex;
  height: 4rem;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  width: 0;
  margin: 0;
}
.food .select .fa-check-circle {
  opacity: 0;
  font-size: 2rem;
  transition-duration: 550ms;
}
@media screen and (min-width: 700px) {
  .food .select {
    height: 100%;
  }
}
.food:hover .food_container-txt {
  width: calc(100% - 80px);
}
.food:hover .select {
  width: 80px;
  background-color: #99E2D0;
  transition: 500ms ease-in-out;
}
.food:hover .fa-check-circle {
  transform: rotate(1turn);
  opacity: 1;
}

button {
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  width: 10.5rem;
  border-radius: 25px;
  height: 2.5rem;
  border: none;
  cursor: pointer;
  box-shadow: #d2d2d2 3px 3px 10px 7px;
  transition: all 2sec;
  opacity: 1;
}
button:hover {
  opacity: 0.9;
  box-shadow: #c5c5c5 3px 3px 5px 5px;
}

.heart_container-alt {
  font-size: x-large;
  position: relative;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 700px) {
  .heart_container-alt {
    font-size: 3rem;
  }
}

.heart_container-alt:hover::before {
  opacity: 1;
  transition: 5ms;
  content: "";
  background: linear-gradient(0deg, #9356dc, #ff79da);
  position: inherit;
  width: 100px;
  height: 100px;
  position: absolute;
  width: 2rem;
  height: 2rem;
  max-width: 27px;
  max-height: 24px;
  right: 35px;
  top: 0px;
}
@media screen and (min-width: 700px) {
  .heart_container-alt:hover::before {
    width: 50px;
    height: 48px;
    max-width: 50px;
    max-height: 48px;
    right: 67px;
  }
}

.heart-alt {
  opacity: 1;
  position: relative;
  right: 35px;
  top: 0;
  background-color: #f6f6f6;
  width: 27px;
}
@media screen and (min-width: 700px) {
  .heart-alt {
    right: 67px;
    width: 50px;
  }
}
.heart-alt:hover {
  opacity: 0;
}

.solid-heart-alt {
  position: relative;
  right: 8px;
  opacity: 1;
  background-color: #f6f6f6;
  mix-blend-mode: lighten;
  color: #000000;
  width: 27px;
}
@media screen and (min-width: 700px) {
  .solid-heart-alt {
    right: 17px;
    width: 50px;
  }
}

a {
  text-decoration: none;
}

.cart {
  background: #ffff;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  max-width: 330px;
  margin: 1rem 0 0.4rem 0;
  border-radius: 15px;
  box-shadow: #d2d2d2 3px 3px 19px 7px;
}
@media screen and (min-width: 674px) {
  .cart {
    margin: 2rem;
    max-width: 450px;
    font-size: 2rem;
    font-weight: bold;
  }
}
.cart .cart_image {
  width: 100%;
  position: relative;
}
.cart .cart_image .image_restaurant {
  width: inherit;
  object-fit: cover;
  height: 180px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index: 1;
}
.cart .cart_text {
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
}
.cart .cart_text .cart_text-bold {
  font-weight: bold;
  margin-bottom: 0.2rem;
}
.cart .cart_text .heart_container {
  position: relative;
  background-color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: lighter;
}
.cart .cart_text .heart_container:hover::before {
  opacity: 1;
  transition: 5ms;
  content: "";
  background: linear-gradient(0deg, #9356dc, #ff79da);
  position: inherit;
  width: 100px;
  height: 100px;
  position: absolute;
  width: 2rem;
  height: 2rem;
  max-width: 33px;
  max-height: 33px;
  left: 35px;
  top: 0px;
}
@media screen and (min-width: 700px) {
  .cart .cart_text .heart_container:hover::before {
    max-height: none;
    max-width: none;
    width: 32px;
  }
}
.cart .cart_text .fa-heart {
  opacity: 1;
  position: relative;
  right: 15px;
  top: 0;
  background: #ffff;
}
.cart .cart_text .fa-heart:hover {
  opacity: 0;
}
@media screen and (min-width: 700px) {
  .cart .cart_text .fa-heart {
    right: 15px;
  }
}
.cart .cart_text .solid-heart {
  position: relative;
  width: 50px;
  left: 35px;
  opacity: 1;
  background-color: #ffff;
  mix-blend-mode: lighten;
  color: #000000;
}
@media screen and (min-width: 700px) {
  .cart .cart_text .solid-heart {
    width: 50px;
    left: 35px;
  }
}

.picture_container {
  object-fit: cover;
}

.container_food {
  position: relative;
  bottom: 50px;
  background: #f6f6f6;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 1rem;
}
.container_food h2 {
  font-weight: 100;
}
.container_food h2::after {
  display: flex;
  content: "";
  border: #99e2d0 2px solid;
  width: 50px;
  margin-top: 0.5rem;
}
@media screen and (min-width: 700px) {
  .container_food {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .container_food h2 {
    width: 100%;
    padding-left: 2rem;
  }
  .container_food .title-page {
    width: 100%;
    font-size: 4.5rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
}

.food_container-txt {
  display: flex;
  justify-content: space-between;
  width: 95%;
  align-items: flex-end;
  padding: 0.5rem 0 0.5rem 0.5rem;
}
.food_container-txt .menu {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (min-width: 700px) {
  .food_container-txt {
    padding: 1rem 0;
  }
}

.title-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Shrikhand", serif;
}
.title-page h1 {
  font-size: x-large;
}
@media screen and (min-width: 700px) {
  .title-page {
    justify-content: space-around;
    font-size: large;
  }
  .title-page h1 {
    margin: 0;
    font-size: 3rem;
  }
}

.food {
  background: white;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 15px;
  margin: 2rem 0;
  box-shadow: #d2d2d2 4px 4px 15px 5px;
}
.food p {
  padding: 0.2rem 0.5rem 0.2rem 0.2rem;
  margin: 0;
}
.food .food_text-size-max {
  font-weight: bold;
}
@media screen and (min-width: 700px) {
  .food .food_text-size-max {
    font-size: 1.5rem;
    border-radius: 15px;
    text-align: center;
  }
}
@media screen and (min-width: 700px) {
  .food {
    width: 25rem;
    margin: 1rem 1rem;
    display: flex;
    align-items: end;
  }
}

.stickers-new {
  background: #99e2d0;
  color: #278870;
  width: max-content;
  padding: 0.4rem 1rem;
  border-radius: 2px;
  font-size: 0.8rem;
  position: absolute;
  font-weight: bold;
  top: 15px;
  right: 15px;
}

.new::after {
  content: "nouveau";
  background: #99E2D0;
  width: max-content;
  padding: 0.4rem;
  border-radius: 2px;
  font-size: 1.2rem;
  position: relative;
  right: 0;
}

header {
  font-family: "roboto", serif;
  font-weight: bold;
  background: white;
}

.logo {
  font-family: Shrikhand, Serif;
  text-align: center;
  padding: 1rem 0rem 1rem 0;
  box-shadow: black 0px 3px 7px -4px;
}

.container_localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  text-align: center;
}
@media screen and (min-width: 1500px) {
  .container_localisation {
    padding: 0 5%;
  }
}
.container_localisation p {
  margin-left: 1rem;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-weight: lighter;
  padding: 2rem 0 2rem;
  background: #f6f6f6;
}
.presentation h1 {
  text-align: center;
  width: 80%;
  margin-bottom: 0;
  margin: 0;
}
.presentation p {
  text-align: center;
  margin-top: 0.5rem;
}

@media screen and (min-width: 1500px) {
  .section_steps_container {
    padding: 0 5%;
  }
}

.container_step_title {
  padding-left: 0.5rem;
}
.container_step_title h2 {
  margin: 3rem 0 0 2%;
}

.steps_container {
  padding: 1rem;
}
@media screen and (min-width: 1400px) {
  .steps_container {
    display: flex;
    justify-content: space-evenly;
  }
}

.step {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  box-shadow: #d2d2d2 0px 3px 7px -4px;
  border-radius: 15px;
  background: #f6f6f6;
  cursor: pointer;
  height: 4rem;
  margin: 1rem 0 0 0;
}
.step i {
  width: 3rem;
  text-align: center;
}
.step .number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  font-size: x-small;
  position: relative;
  background-color: #9356DC;
  color: white;
  border-radius: 62%;
  right: 9px;
}

.background-image {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
}

.header_pages {
  text-align: center;
}

.title-hight-page {
  margin: 1rem;
}

.fa-arrow-left {
  font-size: large;
  position: relative;
  bottom: 27px;
  right: 120px;
}
@media screen and (max-width: 500px) {
  .fa-arrow-left {
    right: 17px;
  }
}

body {
  background-color: white;
  font-family: Roboto;
  margin: 0;
}

.container_carts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #f6f6f6;
  padding-bottom: 4rem;
}
@media screen and (min-width: 1500px) {
  .container_carts {
    padding: 0 5%;
  }
}
.container_carts h2 {
  width: 100%;
  margin-left: 3%;
}
@media screen and (min-width: 700px) {
  .container_carts h2 {
    max-width: 100%;
  }
}

.body_pages {
  background-color: #f6f6f6;
}

.button-position {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: flex-start;
  margin-top: -33px;
}

footer {
  background: #353535;
  color: white;
  padding: 1rem;
}
footer p {
  margin: 0.5rem 0;
}
footer li {
  margin: 0.5rem 0;
}
footer li a {
  color: #FFFF;
}
footer li:hover {
  box-shadow: rgba(255, 255, 255, 0.315) 1px 1px 5px 1px;
}
@media screen and (min-width: 700px) {
  footer {
    display: flex;
    justify-content: center;
  }
  footer .container-footer {
    text-align: center;
    font-size: 1.5rem;
  }
}

.container-footer {
  margin-left: 0.4rem;
}
.container-footer ul {
  padding: 0;
}
.container-footer li {
  list-style: none;
  cursor: pointer;
}
.container-footer li i {
  margin-right: 1rem;
  width: 13px;
}
@media screen and (min-width: 700px) {
  .container-footer li i {
    width: auto;
  }
}
.container-footer .logo-txt {
  font-family: Shrikhand;
  font-size: x-large;
}

/*# sourceMappingURL=style.css.map */
