
// data-base of Mixin animation 


@mixin animation-heart {
 
  opacity: 0;
  
  transition: all 0.5s;
  
}

@mixin animation-step-background ($background-color:$color-secondary){
  background-color:  transparentize($background-color,0.7);
  
  transition-duration: 500ms;

}

@mixin animation-step-color-icons ($color:$color-primary){
  color: $color;
  transition-duration: 500ms;
  
}
.loader{
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: 1000;
  background-color: rgba(192, 186, 186, 0.884);
  animation:emergence 3s 1;
  
      .loader_item{
    opacity: 0;
    z-index: 10000;
    width: 250px;
    height: 250px;
    font-size: 3rem;
    position: absolute;
    font-family: $font-family-title ;
    top:0;
    left:45px;
    border: transparent 14px solid;
    border-left-color: $color-primary;
    border-right-color: $color-secondary;
    border-top-color: transparent;
    border-bottom-color: transparent;
    background-color: $color-tertiary;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spiner 3s  1  ease-in-out;
      }
     
    }


// keyframes
@keyframes emergence{
  from{
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  to{
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

@keyframes spiner{
   0%{
     
       display: block;
       opacity: 1;
       
       
     transform: rotate(10turn);
     left: -10%;
     top:10%;
      
   }
   20%{
     bottom: 0;
     height: 20pX;
     width: 200px;
   }

   30%{
     
   }
   50%{

      top:50px;
      left: 90%;
    }
      
    99%{
      
    }
   100%{
     opacity: 1;
     left: 45%;
     top: 0;
     
    }

}


@keyframes aparition-menu{
  from{
     transform:scaleY(0) ;
      opacity: 0;
  }
  to{
     transform: scaleY(1) ;
      opacity: 1;
  }
}

/*@keyframes menu-select{
  from{
    transform: scaleX(0);
    transform-origin: 0% ;
  }
  to{
    transform: scaleX(1);
    transform-origin: 50% 0% 0% 0%;
  }
  
  
}*/
@keyframes select-logo-rotate{
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(1);
  }
}

//start animation in Sass




.step{
  &:hover{ @include animation-step-background();
    .step_icon{ 
       @include animation-step-color-icons();
 }
}
}

.fa-heart:hover{
  @include animation-heart();

}

.food{
  animation:aparition-menu 2000ms ease-out;



}

.food{

  .select{
    position: relative;
    display: flex;
    height: 4rem;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    width: 80px;
    
     @media screen and (min-width:700px){
      height: 100%;
        }

    
  }
  &:hover{
    .select{
      left: 0;
      background-color: $color-tertiary;
      transition-duration: 500ms;
    
    }
    

    .fa-check-circle{
      transform: rotate(360deg);
    }
  }
}

