
// data-base of Mixin animation 


@mixin animation-heart {
 
  opacity: 0;
  
  transition: all 0.5s;
  
}


@mixin animation-step-background ($background-color:$color-secondary){
  background-color:  rgb(245,238,255);
  
  transition-duration: 500ms;

}

@mixin animation-step-color-icons ($color:$color-primary){
  color: $color;
  transition-duration: 500ms;
  
}
.loader{
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.637);
  animation:emergence 3s 1;
  
      .loader_item{
    opacity: 0;
    z-index: 10000;
    width: 250px;
    height: 250px;
    font-size: 8rem;
    position: absolute;
    font-family: $font-family-title ;
    top:0;
    left:45px;
    border: transparent 24px solid;
    border-left-color: $color-primary;
    border-right-color: $color-secondary;
    border-top-color: transparent;
    border-bottom-color: transparent;
    background: linear-gradient($color-tertiary,darken($color-tertiary, 30));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spinermobile 3s  1  ease-in-out;
    @media screen and (min-width:700px){
      animation: spinerdesktop 3s 1 ease-in-out  ;
      
    }
  }
     
    
  
     
    
}


// keyframes
@keyframes emergence{
  from{
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  to{
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

@keyframes spinerdesktop{
   0%{
     
       display: block;
       opacity: 1;
       transform: rotateY(180deg); 
    left: 50%;
     top:60%;
      
   }
   20%{
     bottom: 0;
     height: 20pX;
     width: 200px;
   }

   50%{
     opacity: 1;
    
     top: 50%;
     
      transform: rotateY(360deg);    
    }

    100%{
      opacity: 1;
      left: 35%;
       top: 20%;
      
    }

}

@keyframes spinermobile{
  0%{
    
      display: block;
      opacity: 1;
      
      
    transform: rotate(10turn);
    left: -10%;
    top:10%;
     
  }
  20%{
    bottom: 0;
    height: 20pX;
    width: 200px;
  }

  30%{
    
  }
  50%{

     top:50px;
     left: 70%;
   }
     
   
  100%{
    opacity: 1;
    left: 25%;
    top: 50%;
       
   }

}


@keyframes aparition-menu{
  from{
    opacity: 0;
     transform:scaleY(0) ;
      
  }
  to{
    opacity: 1;
     transform: scaleY(1) ;
     
  }
}



@keyframes select-logo-rotate{
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(1);
  }
}

//start animation in Sass




.step{
  &:hover{ @include animation-step-background();
    .step_icon{ 
       @include animation-step-color-icons();
 }
}
}

.fa-heart:hover{

  @include animation-heart();

}


.anim-delai1{ 
  animation:aparition-menu 2000ms cubic-bezier(1, 0.07, 0.2, 0.96);
  
}
.anim-delai2{
  
  animation:aparition-menu 2500ms cubic-bezier(1, 0.07, 0.2, 0.96) ;
  
}
.anim-delai3{
  
  animation:aparition-menu 3000ms  cubic-bezier(1, 0.07, 0.2, 0.96) ;
  
}

.food{
 $el:&;
  .select{
    
    display: flex;
    height: 4rem;
    justify-content: center;
    align-items: center;
    background-color: $color-tertiary;
    color: white;
    width: 0;
    margin: 0;
    .fa-check-circle{
      opacity: 0;
      font-size: 2rem;
      
      transition-duration: 550ms;
    }
    
     @media screen and (min-width:700px){
      height: 100%;
        }  
  }
  &:hover{
    #{$el}_container-txt{
      width: calc(100% - 80px);
    }
    .select{
      width: 80px; 
      background-color: $color-tertiary;
      transition: 500ms ease-in-out;
      
    }
    

    .fa-check-circle{
     transform:rotate(1turn);
     opacity: 1;
    }
  }
}

