a{
  text-decoration: none;
}
.picture_container {
  object-fit: cover;
}
.cart {
  @include cart-color(#ffff, #000000);
  width: 90%;
  max-width: 330px;
  margin: 1rem 1rem 0.4rem 1rem;
  border-radius: 15px;
  box-shadow: #d2d2d2 3px 3px 19px 7px;
  a{
    display: block;
    width: 100%;
    
  }
  @media screen and (min-width: 650px) {
    
    margin: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  @media screen and (min-width:1400px) {
    
    
  }
  .cart_image {
    @include carte;
    position: relative;
    .image_restaurant {
      @include cart_image-size();
    }
  }

  .cart_text {
    display: flex;

    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    .cart_text-bold {
      font-weight: bold;
      margin-bottom: 0.2rem;
    }

    .heart_container {
      position: relative;
      background-color: #ffff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: xx-large;
      font-weight: lighter;
    }

    .heart_container:hover::before {
      opacity: 1;
      transition: 5ms;
      content: "";
      background: linear-gradient(0deg, #9356dc, #ff79da);
      position: inherit;
      width: 100px;
      height: 100px;
      position: absolute;
      width: 2rem;
      height: 2rem;
      max-width: 33px;
      max-height: 33px;
      left: 35px;
      top: 0px;
      @media screen and(min-width:700px) {
        max-height: none;
        max-width: none;
        width: 32px;
        
      }
    }

    .fa-heart {
      opacity: 1;

      position: relative;
      right: 15px;
      top: 0;
      background: #ffff;

      &:hover {
        opacity: 0;
        
      }
      @media  screen and (min-width: 700px ) {
        right: 15px;
        
      }
    }
    .solid-heart {
      position: relative;
      width: 50px;
      left: 35px;
      opacity: 1;
      background-color: #ffff;
      mix-blend-mode: lighten;
      color: #000000;
      @media screen and (min-width: 700px) {
        width: 50px;
        left: 35px;
      }
    }
  }
}
