.container_food{
  z-index: 2;
  position: relative;
  bottom: 50px;
  background: $color-background-secondary;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 1rem 0.5rem;
  @media screen and (min-width: 700px){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    h2{
      width: 100%;
      padding-left: 2rem;

    }
    .title-page{
      width: 100%;
      font-size: 4.5rem;
      padding-left: 1rem;
      margin-left: auto;
      margin-bottom: 2rem;
    }

  }
}


.title-page{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Shrikhand", serif;

  h1{
    font-size: x-large;

  }
  .fa-heart2{
    font-size: x-large;
  }
  @media screen and (min-width: 700px) {
    font-size: large;
    h1{
      margin: 0 0 0 20%
    }
    .fa-heart2{
      font-size: x-large;
      margin: 0 20% 0 0;

    }
  }

}

.food{
  border: 5px $color-background-primary solid;
  background: $color-background-primary;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 15px;
  margin: 2rem 0;
  box-shadow: #D2D2D2 4px 4px 15px 5px;
  p{
    margin: 0.1rem 0 ;

  }
  @media screen and(max-width: 700px){
    p{
      font-size: 1.1rem;
    }

  }
  .food_text-size-max{
    width: 100%;
    font-weight: bold;
    @media screen and (min-width: 700px){
      font-size:1.5rem;
      padding: 8%;
      background: $color-background-secondary;
      border-radius: 15px;
      text-align: center;


    }


  }
  @media screen and (min-width: 700px) {


      width: 25rem;
      height: 13rem;
      display: flex;
      align-items: end;
      justify-content: space-around;



  }
}