
.cart{
  @include cart-color(#FFFF, #000000);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  max-width: 330px;
  margin: 2rem 0 2rem 0;
  border-radius: 5px;
  border: 1px transparent solid;
    @media screen and (min-width:700px){
      margin: 2rem;
      max-width: 450px;
      font-size: 2rem;
      font-weight: bold;

    }

}



.cart_image{
@include carte;
  img{
   width: inherit;
  }
}
.image_restaurant{

  @include cart_image-size();
}