a{
  text-decoration: none;
}
.cart{
  .fa-heart::after{
    

  }
  @include cart-color(#FFFF, #000000);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  max-width: 330px;
  margin: 1rem 0 0.4rem 0;
  border-radius: 15px;
  border: 1px transparent solid;
  box-shadow: #d2d2d2 3px 3px 19px 7px;
    @media screen and (min-width:700px){
      margin: 2rem;
      max-width: 450px;
      font-size: 2rem;
      font-weight: bold;

    }
  .cart_image{
    @include carte;
    position: relative;
    .image_restaurant{


      @include cart_image-size();
    }
  }
  .cart_text{
    display: flex;

    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    
     .fa-heart{
      font-size: x-large;
      position: relative;
      right: 10px;
      top: 0;
      
      
    }
    .solid-heart{
      position: relative;
      left:14px;
      opacity: 1;
      background: linear-gradient($color-primary,$color-secondary);
      mix-blend-mode: lighten;
    }
  }
}



