//global colors;
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;

//header colors;
$color-localisation-background:#EAEAEA;
//body colors;
$color-body-background:#F6F6F6;



//footer colors;
$color-footer-background:black;
$color-footer-txt:#F8F8F8;